<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>

	<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>-->
	<script src="angular.js"></script>
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>-->
    <script src="ui-bootstrap-tpls-0.12.1.js"></script>
    
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->
	


	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.2-dist/css/bootstrap.min.css">
  	
	<script src="example.js"></script>

  </head>
  <body>
    <div>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <h1>Hello, {{ yourName }}!</h1>
    </div>

	<div ng-controller="DatepickerDemoCtrl" ng-controller="TimepickerDemoCtrl">
	    <pre>Selected date is: <em>{{dtBegin | date:'dd-MM-yyyy' }}</em></pre>

	    <h4>Popup</h4>
	    

			<div class="row">
		        <div class="col-md-3">
		            <p class="input-group">
		              <input type="text" disabled="true" class="form-control" datepicker-popup="{{format}}" ng-model="dtBegin" is-open="opened" min-date="minDateBegin" datepicker-options="dateOptions" ng-required="true" show-button-bar="false"/>
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		        <div class="col-md-6">
				  <timepicker ng-model="timeBegin" show-meridian="false" required></timepicker>
			  	</div>
		  	</div>
			

			<div class="row">
		        <div class="col-md-3">
		            <p class="input-group">
		              <input type="text" disabled="true" class="form-control" datepicker-popup="{{format}}" ng-model="dtEnd" is-open="opened2" min-date="dtBegin" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		        <div class="col-md-3">
				  <timepicker ng-model="timeEnd" show-meridian="false" required></timepicker>
			  	</div>
	        </div>
		{{timeBegin}}




		


		{{dtEnd < dtBegin ? dtBegin : dtEnd}}
	   
	    
	</div>


	
	

  </body>
</html>